.product-card {
  width: 20%; /* Adjust width as needed */
  min-width: 150px;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 1rem;
}
.cartInProductCard{
    background-color: #4caf50; /* Green background */
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.3rem ;
    font-size: 1.5rem;
    cursor: pointer;
    /* width: 1rem; */
    aspect-ratio: 1 /1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
  }
  .cartInProductCard:hover{
    background-color: #000000; /* Darker green on hover */
  
  }
  
 
  
  .product-card-image {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
  
  .product-card-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(175, 213, 252);
  
  }
  .price-cart-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-card-price {
    font-size: 1rem; /* Adjust size as needed */
    font-weight: bold;
  }
  
  .productCard-name {
    font-size: 0.875rem;
    font-weight: 600; /* Adjust size as needed */
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
  

  @media screen and (max-width: 1000px) {
    .product-card {
      width: 28%;
    }
    .cartInProductCard{
      font-size: 1.2rem;
    }
  }
  
  @media screen and (max-width: 625px) {
    .product-card {
      width: 30%;
    }
    .cartInProductCard{
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 500px) {
    .productCard-name {
      font-size: 0.775rem;
    }
    .product-card-price {
      font-size: 0.875rem; 
    }
  }